[Unit]
Description=Comunito Portal
After=network.target
StartLimitIntervalSec=0
TimeoutStartSec=0

[Service]
User=pi
WorkingDirectory=/home/pi/comunito_portal
ExecStart=/home/pi/comunito_portal/comunito-venv/bin/python -u portal_alpr_full.py
Restart=always
RestartSec=5
WatchdogSec=40

[Install]
WantedBy=multi-user.target
